USE [master]
GO
/****** Object:  Database [QUANLYNHANVIEN]    Script Date: 3/5/2025 12:46:17 AM ******/
CREATE DATABASE [QUANLYNHANVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHANVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYNHANVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYNHANVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYNHANVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHANVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHANVIEN]
GO
/****** Object:  UserDefinedFunction [dbo].[fChuyenCoDauThanhKhongDau]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fChuyenCoDauThanhKhongDau](@inputVar NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[MANV] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[MALUONG] [varchar](10) NULL,
	[TIENKHENTHUONG] [money] NULL,
	[TIENKYLUAT] [money] NULL,
	[SONGAYCONG] [float] NULL,
	[SONGAYNGHI] [float] NULL,
	[SOGIOLAMTHEM] [float] NULL,
	[GHICHU] [nvarchar](60) NULL,
 CONSTRAINT [PK__BANGCHAM__C74BDBDCA816DA61] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGCHAMCONGTHUVIEC]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONGTHUVIEC](
	[MANVTV] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[SONGAYCONG] [int] NULL,
	[SONGAYNGHI] [int] NULL,
	[SOGIOLAMTHEM] [int] NULL,
	[LUONGTV] [money] NULL,
	[GHICHU] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANVTV] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[MALUONG] [varchar](10) NOT NULL,
	[LCB] [money] NULL,
	[PHUCAPCHUCVU] [money] NULL,
	[PHUCAPKHAC] [money] NULL,
	[GHICHU] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGTINHLUONG]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGTINHLUONG](
	[MANV] [int] NOT NULL,
	[LUONG] [money] NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[GHICHU] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAOLUONG]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOLUONG](
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[TONGTIEN] [money] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [varchar](8) NOT NULL,
	[TENBOPHAN] [nvarchar](20) NULL,
	[NGAYTHANHLAP] [datetime] NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSOTHUVIEC]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOTHUVIEC](
	[MANVTV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](70) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NOICAP] [nvarchar](20) NULL,
	[VITRITHUVIEC] [nvarchar](25) NULL,
	[NGAYTV] [datetime] NULL,
	[SOTHANGTV] [int] NULL,
	[SDT] [varchar](10) NULL,
	[HOCVAN] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANVTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHENTHUONG]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHENTHUONG](
	[MAKT] [int] IDENTITY(1,1) NOT NULL,
	[TIEN] [money] NULL,
	[LYDO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYLUAT]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYLUAT](
	[MAKL] [int] IDENTITY(1,1) NOT NULL,
	[TIEN] [money] NULL,
	[LYDO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUCHAMCONG]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUCHAMCONG](
	[MALSCHAMCONG] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYCHAMCONGGANNHAT] [datetime] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALSCHAMCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUVANGMAT]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUVANGMAT](
	[MANV] [int] NOT NULL,
	[NGAYNGHI] [datetime] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYNGHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[MALOAINV] [varchar](10) NOT NULL,
	[TENLOAINV] [nvarchar](30) NULL,
	[MUCLUONGCOBAN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAINV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LSCHINHSUA]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSCHINHSUA](
	[MACS] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[LANCS] [int] NULL,
	[MAPHONG] [varchar](6) NULL,
	[MALUONG] [varchar](10) NULL,
	[HOTEN] [nvarchar](70) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NOICAP] [nvarchar](20) NULL,
	[CHUCVU] [nvarchar](25) NULL,
	[MALOAINV] [varchar](10) NULL,
	[LOAIHD] [nvarchar](20) NULL,
	[THOIGIAN] [int] NULL,
	[NGAYKY] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[SDT] [varchar](10) NULL,
	[HOCVAN] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](60) NULL,
	[NGAYCHINHSUA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [varchar](6) NULL,
	[MALUONG] [varchar](10) NULL,
	[HOTEN] [nvarchar](70) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NOICAP] [nvarchar](20) NULL,
	[CHUCVU] [nvarchar](25) NULL,
	[MALOAINV] [varchar](10) NULL,
	[LOAIHD] [nvarchar](20) NULL,
	[THOIGIAN] [int] NULL,
	[NGAYKY] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[SDT] [varchar](10) NULL,
	[HOCVAN] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](60) NULL,
	[ANHDAIDIEN] [varchar](max) NULL,
	[NGAYDANGKI] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENHIENTAI]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENHIENTAI](
	[MANV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NVTHOIVIEC]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NVTHOIVIEC](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](70) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NGAYTHOIVIEC] [datetime] NULL,
	[LYDO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAITAIKHOAN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAITAIKHOAN](
	[MALOAITK] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITK] [nvarchar](20) NULL,
	[QUYENHAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAITK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHONG] [varchar](6) NOT NULL,
	[MABP] [varchar](8) NULL,
	[TENPHONG] [nvarchar](20) NULL,
	[NGAYTHANHLAP] [datetime] NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOBH]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOBH](
	[MABH] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYCAPSO] [datetime] NULL,
	[NOICAPSO] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTHAISAN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTHAISAN](
	[MATS] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYVESOM] [datetime] NULL,
	[NGAYNGHISINH] [datetime] NULL,
	[NGAYLAMTROLAI] [datetime] NULL,
	[TROCAPCTY] [money] NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[MALOAITK] [int] NULL,
	[TENCHUTAIKHOAN] [nvarchar](20) NULL,
	[TENDANGNHAP] [varchar](20) NULL,
	[MATKHAU] [varchar](90) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[MATHAMSO] [varchar](4) NOT NULL,
	[TENTHAMSO] [nvarchar](20) NULL,
	[GIATRI] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHAMSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAYDOIBANGLUONG]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAYDOIBANGLUONG](
	[MANV] [int] NOT NULL,
	[MALUONG] [varchar](10) NOT NULL,
	[MALUONGMOI] [varchar](10) NOT NULL,
	[NGAYSUA] [datetime] NULL,
	[LYDO] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MALUONG] ASC,
	[MALUONGMOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MATB] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](50) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[TYPE] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_THONGBAO] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAONHANVIEN]    Script Date: 3/5/2025 12:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAONHANVIEN](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[MATB] [int] NULL,
	[IsOpen] [bit] NULL,
 CONSTRAINT [PK_THONGBAONHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONG_MALUONG] FOREIGN KEY([MALUONG])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_BANGCHAMCONG_MALUONG]
GO
ALTER TABLE [dbo].[BANGCHAMCONGTHUVIEC]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONGTHUVIEC_MANVTV] FOREIGN KEY([MANVTV])
REFERENCES [dbo].[HOSOTHUVIEC] ([MANVTV])
GO
ALTER TABLE [dbo].[BANGCHAMCONGTHUVIEC] CHECK CONSTRAINT [FK_BANGCHAMCONGTHUVIEC_MANVTV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MALOAINV] FOREIGN KEY([MALOAINV])
REFERENCES [dbo].[LOAINHANVIEN] ([MALOAINV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MALOAINV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MALUONG] FOREIGN KEY([MALUONG])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MALUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MAPHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPHONG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MAPHONG]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBAN_MABP] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_PHONGBAN_MABP]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_MALOAITK] FOREIGN KEY([MALOAITK])
REFERENCES [dbo].[PHANLOAITAIKHOAN] ([MALOAITK])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_MALOAITK]
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONG] FOREIGN KEY([MALUONG])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG] CHECK CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONG]
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONGMOI] FOREIGN KEY([MALUONGMOI])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG] CHECK CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONGMOI]
GO
ALTER TABLE [dbo].[THONGBAONHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAONHANVIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THONGBAONHANVIEN] CHECK CONSTRAINT [FK_THONGBAONHANVIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[THONGBAONHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAONHANVIEN_THONGBAO] FOREIGN KEY([MATB])
REFERENCES [dbo].[THONGBAO] ([MATB])
GO
ALTER TABLE [dbo].[THONGBAONHANVIEN] CHECK CONSTRAINT [FK_THONGBAONHANVIEN_THONGBAO]
GO
USE [master]
GO
